* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	text-decoration: none;
}
.ms-container {
  display: none;
}
body{
	background: #f3f6f5;
}
input:focus {
	border-color: #00ce6c;
}
textarea:focus {
	border-color: #00ce6c;
}
.ql-main-bac{
	width: 1190px;
	margin: 0 auto;
}
/**
 * 头部样式
 */
.index-head {
	height: 57px;
	border-bottom: 2px solid #00ce6c;
	background: #fff;
}
.index-head-bac {
	width: 1190px;
	margin: 0 auto;
	height: 100%;
	line-height: 50px;
}
.index-head-bac span{
	font-size: 18px;
	line-height: 55px;
	color: #999;
	font-weight: 300;
}
/**
 * 面包屑
 */
.ql-main-title{
	height: 38px;
	line-height: 38px;
	color: #666;
}
.ql-main-title span{
	font-size: 12px;
	color: #666;
	cursor: pointer;
}
.ql-main-title span:hover {
	color: #00ce6c;
	text-decoration: underline;
}
/**
 * 分块标题
 */
.ql-main-group{
	background: #fff;
	padding-left: 15px;
	padding: 20px 0;
	overflow: hidden;
}
.ql-main-group span{
    display: block;
    margin-left: 15px;
    font-size: 14px;
    padding: 0 10px;
    height: 14px;
    line-height: 14px;
    float: left;
    color: #333;
    text-align: center;
    border-left: 4px solid #00ce6c;
}
/**
 * 基础信息
 */
.ql-form-wrapper {
	background-color: #fff;
}
.ql-form-cell {
	overflow: hidden;
	width: 850px;
	padding: 10px 0px;
}
.ql-form-title {
	width: 240px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	color: #a8a5a5;
	font-size: 14px;
	float: left;
	margin-right: 10px;
}
.ql-form-input {
	width: 598px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #cdcdcd;
	text-indent: 12px;
}
.ql-form-textarea {
	width: 598px;
	padding-left: 12px;
	padding-top: 5px;
	height: 148px;
	border: 1px solid #cdcdcd;
	resize: none;
}